/static/ignore/
/.venv/
/static/black_and_white_logo.png
/black_white.jpeg
/pdf_files/story_1.pdf
/pdf_files/story_2.pdf
/pdf_files/story_6.pdf
/story_creator.db
/combined_file.txt
/res.md
/desired_result.txt
/combine_files.py
